<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="history.css">
</head>
<body>
    <main>
        <h1>Game History</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Date & Time</th>
                    <th>Mode</th>
                    <th>Game Time</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>X</td>
                    <td>15 Sep 2021 - 11: 05 AM</td>
                    <td>Easy</td>
                    <td>34s</td>
                    <td>Win</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>15 Sep 2021 - 12: 15 AM</td>
                    <td>Medium</td>
                    <td>34s</td>
                    <td>Win</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>15 Sep 2021 - 11: 05 AM</td>
                    <td>Impossible</td>
                    <td>34s</td>
                    <td>Tie</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>15 Sep 2021 - 11: 05 AM</td>
                    <td>Easy</td>
                    <td>34s</td>
                    <td>Lost</td>
                </tr>
            </tbody>
        </table>
        <button onclick="location.href='/'" type="button" class="close-button">X Close</button>
    </main>
</body>
</html>