<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="icon" type="image/png" href="img/icon.png" />
  </head>
  <body>
    <h1 class="title">Tic Tac Toe</h1>
    <div class="container">
      <div class="form">
        <!-- Login Form -->
        <h2 class="header">Login</h2>
        <form action="/login" method="POST" class="login-form">
          <input type="text" placeholder="username" name="username" />
          <input type="password" placeholder="password" name="password" />
          <!-- Displays error if flashed from server -->
          <% if(messages.error) { %> <%= messages.error %> <% } %>
          <button type="submit">Login</button>
          <p class="message">
            Not registered? <a href="/register">Create an account</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
