@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title {
  text-align: center;
  font-size: 80px;
  margin: 0;
  padding: 50px 0;
}

.container {
  width: 360px;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  color: red;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.header {
  color: #000;
  margin-bottom: 20px;
  font-size: 1.8em;
}

.form input {
  font-family: 'Montserrat', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #c4c4c4;
  width: 100%;
  border: 0;
  padding: 13px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #b3b3b3;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 500;
}

.form .message a {
  color: black;
  text-decoration: none;
}
